[submodule "x264"]
	path = x264
	url = https://code.videolan.org/videolan/x264.git
	branch = stable
	ignore = dirty
[submodule "x265"]
	path = x265
	url = https://bitbucket.org/multicoreware/x265_git.git
	branch = stable
	ignore = dirty
[submodule "opus"]
	path = opus
	url = https://github.com/xiph/opus.git
	ignore = dirty
[submodule "kvazaar"]
	path = kvazaar
	url = https://github.com/ultravideo/kvazaar.git
	ignore = dirty
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
	branch = release/5.1
	ignore = dirty
[submodule "libcaption"]
	path = libcaption
	url = https://github.com/szatmary/libcaption
	ignore = dirty
[submodule "mpeghdec"]
	path = mpeghdec
	url = https://github.com/Fraunhofer-IIS/mpeghdec.git
	ignore = dirty
[submodule "libcaca"]
	path = libcaca
	url = https://github.com/cacalabs/libcaca
	ignore = dirty
